<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>You want to get involved or need support?.</h2>
            <p>Feel free to join our Discord to ask questions and help us to create a better future of VR.</p>
            <a class="btn btn-default btn-call-to-action" href="https://discord.gg/9j9MraNx8v" target="_blank" rel="noreferrer">Join Our Discord</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  